.btnCart {
  height: 40px;
  width: 40px;
  z-index: 3;
  position: absolute;
  top: 23%;
  right: 25%;
}

.customBtn {
  width: 120px;
  height: 60px;
  border: none;
  font-weight: 700;
  margin: 20px;
  font-size: var(--h4);
  background-color: var(--champane);
  color: var(--independance);
  font-size: var(--h5);
}

.customBtn[disabled],
.customBtn:disabled {
  background-color: var(--neutral-300);
}

.userBtn {
  height: 60px;
  width: 60px;
}

.userBtn:hover .yellow {
  fill: var(--terracota);
  transition: all 0.3s;
}

.userBtn:hover .orange {
  fill: var(--terracota);
  transition: all 0.3s;
}
