.shoplist {
  width: 60%;
  margin: auto;
  font-family: 'Mulish', sans-serif;
  border-collapse: collapse;
  text-align: center;
}

.shoplist > thead {
  font-weight: 700;
  font-size: var(--h3);
  background-color: var(--champane);
}

.shoplist_tr > th {
  padding-top: 8px;
  padding-bottom: 8px;
}

.emptyCart {
  text-align: center;
  color: var(--terracota);
  font-weight: 700;
}
