.card_wrapper {
  width: 25%;
  height: 120px;
  border: 3px solid var(--independance);
  border-radius: 10px;
  margin: 20px;
}

.card_wrapper_header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  margin-bottom: 20px;
  background-color: var(--independance);
}
.card_wrapper_header > p,
.card_wrapper_header > h3 {
  color: var(--neutral-100);
}
.card_wrapper_header > h3 {
  cursor: pointer;
}

.card_wrapper_header > p {
  font-weight: 700;
}

.card_wrapper_content,
.card_wrapper_content > div {
  display: flex;
  justify-content: space-around;
}
.card_wrapper_content {
  height: auto;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.card_wrapper_content > p {
  width: 25%;
  height: 100%;
  display: block;
  font-size: var(--h4);
  font-weight: 700;
  text-transform: capitalize;
}

.card_wrapper_content > p:first-child {
  color: rgb(47, 143, 18);
}

.card_wrapper_content > p:nth-child(2) {
  color: var(--terracota);
}

.card_wrapper_content > div > button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid var(--terracota);
  border-radius: 50%;
  font-weight: 800;
  font-size: var(--h4);
}

.card_wrapper_content > div > button:first-child {
  color: var(--greensheen);
  margin-right: 10px;
}

.card_wrapper_content > div > button:last-child {
  color: var(--red-200);
}

.card_wrapper_content > div > button > svg {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 9px;
}

.card_wrapper_content > div > button:first-child > svg {
  fill: var(--greensheen);
}

.card_wrapper_content > div > button:last-child > svg {
  fill: var(--terracota);
}
