.shoplist_tr {
  border-bottom: 1px solid #212121;
}

.shoplist_tr_controllers > button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
}

.shoplist_tr_controllers > button:first-child {
  margin-right: 10px;
  color: var(--greensheen);
  border: 1px solid var(--greensheen);
}

.shoplist_tr_controllers > button:last-child {
  border: 1px solid var(--terracota);
  color: var(--terracota);
}

.shoplist_tr > td {
  padding: 8px 0;
}

.shoplist_tr > td:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.shoplist_tr > td:last-child > button {
  border: none;
  background-color: transparent;
}

.shoplist_tr > td:last-child > button > svg {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 9px;
  fill: var(--terracota);
}
