.header,
.headerMenu {
  width: 100%;
}

.header {
  height: 100px;
  position: sticky;
  top: 0;
  background-color: var(--independance);
  box-shadow: -5px 5px 38px 2px rgba(0, 0, 0, 0.4);
}

.headerMenu {
  height: 100%;
  position: relative;
}

.headerMenu > li > a {
  font-weight: bold;
  color: var(--neutral-100);
}

.headerHomeLink {
  display: block;
  position: absolute;
  top: 19%;
  left: 46%;
  z-index: 1;
  overflow: hidden;
  padding: 14px 60px;
  border: 2px solid var(--terracota);
  font-size: var(--h2);
  transition: 1s all ease;
}

.headerHomeLink::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  background: var(--terracota);
  transform: translate(-50%, -50%);
  transition: all 0.6s ease;
}

.headerHomeLink::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.headerHomeLink:hover::before {
  height: 380%;
}

.headerCartLink {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--h4);
}

.btn {
  width: 70px;
  height: 70px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  border: 3px solid var(--terracota);
  transition: 0.3s all ease;
}

.btn::before {
  content: '';
  position: absolute;
  border-radius: 3px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #21202c96;
  transform: rotate(45deg);
}

.btn:hover::after {
  transform: rotate(45deg);
}

.btn::active {
  transform: scale(1.1);
}

.btn:active::before {
  background-color: rgba(240, 169, 169, 0.411);
}

.btn:active::after {
  border-color: var(--terracota);
}

.headerCartLink:hover {
}

.headerMenu > li:last-child {
  position: absolute;
  right: 200px;
  top: 35px;
  color: var(--champane);
  font-weight: 700;
  font-size: var(--h3);
}

.addNewProductBtn {
  width: 60px;
  height: 60px;
  background-color: var(--champane);
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 23%;
  left: 78%;
}

.addNewProductBtn > svg {
  transition: transform 0.25s, opacity 0.25s;
  fill: var(--neutral-100);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.addNewProductBtn > svg:hover {
  transform: rotate(90deg);
}
