.homeTitle {
  font-size: var(--h2);
  color: var(--terracota);
  font-weight: 900;
  text-align: center;
  margin: 0 0 30px 0;
}

.productsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsWrapper > button {
  margin: 10px;
}

.buttonsWrapper > p {
  font-weight: 700;
  font-size: var(--h5);
  margin: 10px;
}
