Layout {
  padding: '50px 80px';
  height: '100vh';
  color: 'textInverted';
}

header {
  ul {
    liststyletype: 'none', li {
      color: 'background';
      fontsize: 'bold';
      text-decoration: none;
    }
  }
}
